<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragments2::head('css')">
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://kit.fontawesome.com/26af559ed8.js" crossorigin="anonymous"></script>-->
</head>
<body>
<!--<nav th:replace="partials/framents::navbar"></nav>-->
<div class="container">
    <div class="heart"></div>
<!--    <a href="/css2"><i class="fa-solid fa-right next"></i></a>-->
<!--    <a href="/technical-skills"><i class="fa-sharp fa-solid fa-house-blank home"></i></a>-->
</div>

<div class="footer">
    <a href="/technical-skills" data-link>
        <i class="fa-sharp fa-solid fa-house fa-3x home" ></i>

    </a>
    <a href="/CSS2">
        <i class="fa-sharp fa-solid fa-right-long fa-3x rite"></i>
    </a>
<!--<a href="/technical-skills" data-link>-->
<!--    <i class="fa-sharp fa-solid fa-house fa-3x"></i>-->

<!--</a>-->
</div>
</body>
</html>