<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/fragments3::head(css2)">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, beatae consequuntur cum deleniti dicta dolores esse fuga in ipsa ipsam iusto nobis non pariatur provident quae quis quos suscipit totam.</p>
</div>
<div class="container">
<input type="checkbox"id="checkbox">
<label for="checkbox" class="label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <div class="ball"></div>
</label>
</div>
<div class="footer">
<a href="/CSS">
    <button type="submit">previous</button>
</a>
<a href="/technical-skills" data-link>
    <i class="fa-sharp fa-solid fa-house fa-3x home" ></i>

</a>
<a href="/CSS3">
    <i class="fa-sharp fa-solid fa-right-long fa-3x rite"></i>
</a>
</div>
<script src="Javascript/dom_man.js"></script>

</body>
</html>