<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/framents::head('Portfolio')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Kelvin Wade</h1>
<nav th:replace="partials/framents::navbar"></nav>
<div>
<img src="/IMG/kpic.jpg" alt="hello">
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consequuntur cupiditate ducimus enim esse eum, eveniet, id iste itaque natus provident quae qui reiciendis sed sint soluta tempore voluptatum. </p>
</div>
</body>
</html>