<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/framents::head('Portfolio')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Kelvin Wade</h1>
<nav th:replace="partials/framents::navbar"></nav>
<div>
<img src="/IMG/kpic.jpg" alt="hello">
<p>I’m a Codeup graduate ,Full
    Stack Software Developer .I’m passionate about what I do, I also enjoy learning new techniques and improving every step of the way.One day I hope to create something great for the world to use.</p>
</div>
</body>
</html>