<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/framents::head('Login')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/framents::navbar"></nav>
<div th:if="${param.error}">
Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have logged out.
</div>
<form th:action="@{/login}" method="post">
    <label for="username"><span class="required">*</span>Username:</label>
    <input class="login-input" id="username" type="text"><br>
    <label for="email"><span class="required">*</span>Email:</label>
    <input class="login-input" id="email" type="email"><br>
    <label for="password"><span class="required">*</span>Password:</label>
    <input class="login-input" id="password" type="password">
</form>


</body>
</html>