<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/framents::head(title)">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="partials/framents::navbar"></nav>
<div class="icon">
    <h2>These are the skills I'm most proficient in. Click one to view</h2>
    <a href="/CSS"><i class="fa-brands fa-css3-alt fa-10x"></i></a>
<a href="/JavaScript"><i class="fa-brands fa-js fa-10x"></i></a>
<a href="/java"><i class="fa-brands fa-java fa-10x"></i></a>
</div>
</body>
</html>