<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/framents::head(title)">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="partials/framents::navbar"></nav>
<div class="icon">
<!--    <div class="card">-->
        <a href="/CSS"><i class="fa-brands fa-css3-alt fa-10x"></i></a>
        <div class="container">
            <h4><b> CSS</b></h4>
        <p>These are examples of my CSS projects </p>
            </div>
    </div>
<!--    <div class="card">-->
<div class="icon">
        <a href="/JavaScript"><i class="fa-brands fa-js fa-10x"></i></a>
        <div class="container">
            <h4><b> JAVASCRIPT</b></h4>
            <p>These are examples of my JAVASCRIPT projects </p>
        </div>

    </div>
<!--    <div class="card">-->
<div class="icon">
        <a href="/java"><i class="fa-brands fa-java fa-10x"></i></a>
        <div class="container">
            <h4><b> JAVA</b></h4>
            <p>This is where I manage MYSQL database stuff. Go ahead and try! </p>
        </div>
    </div>
</div>
</body>
</html>